div#DataTables_Table_filter {
    float: right;
}

div#DataTables_Table_paginate {
    float: right;
}

.html5buttons {
    margin-top: 18px;
    float: right;
    top: 7px;
}

.fld-name {
    display:none;
}

.rendered-form p, .rendered-form label, .form-wrap p, .form-wrap label {
    font-size: 13px !important;
}
